---
layout: master
title: Blog
full_posts: 5
---

<!-- a href='http://feeds2.feedburner.com/gotgit' class='float-right'><img src='/images/subscribe.png' alt='Subscribe to XML Feed'/></a -->

{% for post in site.posts %}
  {% if forloop.index < page.full_posts %}
  <div class='post'>
    <span class='date'>{{post.date | date: "%d %b %Y"}}</span>
    <!-- JiaThis Button BEGIN -->
<div id="ckepop" style="padding-top:.7em;"><span class="jiathis_txt">分享到：</span>
<a class="jiathis_button_tsina"></a>
<a class="jiathis_button_tqq"></a>
<a class="jiathis_button_douban"></a>
<a class="jiathis_button_googleplus"></a>
<a class="jiathis_button_evernote"></a>
<a class="jiathis_button_ujian"></a>
<a class="jiathis_button_fav"></a>
<a class="jiathis_button_copy"></a>
<a class="jiathis_button_ishare"></a>
<a href="http://www.jiathis.com/share?uid=1537991" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank"></a>
<a class="jiathis_counter_style"></a>
</div>
<script type="text/javascript" >
var jiathis_config={
  data_track_clickback:true,
  url:'http://www.kafeitu.me{{post.url}}',
  summary:'',
  title:"咖啡兔 - {{post.title}} - HenryYan",
  ralateuid:{
    "tsina":"kafeituzi"
  },
  hideMore:false
}
</script>
<script type="text/javascript" src="http://v2.jiathis.com/code/jia.js?uid=1537991" charset="utf-8"></script>
<!-- JiaThis Button END -->
<a href='{{post.url}}#comments' title='分享文章、查看评论' style="margin-left: 1em;">Comments</a>
    <h1><a href='{{post.url}}'>{{post.title}}</a></h1>
    <div class='body'>{{post.content}}</div>
  </div>
  {% else %}
    {% if forloop.index == page.full_posts %}
    <h3>更多博客</h3>
    <table class='post-list'>
    {% endif %}
    <tr>
      <th><a href='{{ post.url }}'>{{ post.title }}</a></th>
      <td>{{ post.date | date: "%d %b %Y" }}</td>
      <td><a href='{{post.url}}#disqus_thread'>Comments</a></td>
    </tr>
  {% endif %}
{% endfor %}
</table>
