---
layout: master
title: 咖啡兔
full_posts: 3
---

<div class='home-box' id='home-left'>
  <h2><a href='atom.xml' class='float-right'
      ><img src='/images/subscribe-icon.gif' alt='Subscribe'/></a
      >最新博客（<a href='/blog.html'>更多</a>）</h2>
  
{% for post in site.posts limit:page.full_posts %}
  <div class='post'>
    <span class='date'>{{post.date | date_to_string}}</span>
    <h1><a href='{{post.url}}'>{{post.title}}</a></h1>
    <div class='body'>{{post.content}}</div>
    <a href='{{post.url}}#disqus_thread'>View Comments</a>
  </div>
{% endfor %}

</div>

<div class='home-box' id='home-right'>
  <h2>博客公告</h2>
  <div class='sidebar'>
    <div class="sidebar-item">
      <div id="cse" style="width: 100%;">Loading</div>
      <script src="https://www.google.com/jsapi" type="text/javascript"></script>
      <script type="text/javascript"> 
        google.load('search', '1', {language : 'zh-CN', style : google.loader.themes.V2_DEFAULT});
        google.setOnLoadCallback(function() {
          var customSearchOptions = {};  var customSearchControl = new google.search.CustomSearchControl(
            '008448290842185643507:htbcp2-now4', customSearchOptions);
          customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
          customSearchControl.draw('cse');
        }, true);
      </script>
      <ul style="margin-top: -3px">
        <li>QQ：576525789</li>
        <li>RIA交流群：23539326</li>
        <li>Git交流群：23541011</li>
      </ul>
    </div>
  </div>

  <h2>联系方式</h2>
  <div class='sidebar'>
    <div class="sidebar-item">
    <ul>
      <li>邮件：yanhonglei[@]gmail.com </li>
      <li>微博：<a href="http://weibo.com/kafeituzi" target="_blank">@kafeituzi</a></li>
    </ul>
    </div>
  </div>

  <h2>最新文章</h2>
  <div class='sidebar'>
    <div class="sidebar-item">
    <ul class='sidebar-posts'>
      {% for post in site.posts limit:5 %}
      <li title='发布日期：{{post.date | date_to_string}}'><a href='{{post.url}}'>{{post.title}}</a></li>
      {% endfor %}
    </ul>
    </div>
  </div>

  <h2>微博</h2>
  <div class='sidebar'>
    <div class="sidebar-item">
		<iframe width="245" height="550" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=245&height=550&fansRow=2&ptype=1&speed=0&skin=3&isTitle=1&noborder=1&isWeibo=1&isFans=1&uid=1883607704&verifier=4b99344e&dpc=1"></iframe>
    </div>
  </div>

</div>
