---
layout: master
---
<div class='post'>
  <span class='date'>{{page.date | date: "%d %b %Y"}}</span>
  <a href='{{post.url}}#comments' title='分享文章、查看评论' style="float:right">Comments</a>
  <h1><a href='{{page.url}}'>{{page.title}}</a></h1>
  <div class='body'>{{ content }}</div>
  <div class="original-post corner-all"><strong>原创文章，转载请注明：</strong>转载自：<a href='{{page.url}}'>{{page.title}}</a></div>
</div>

<!-- JiaThis Button BEGIN -->
<div id="jiathis_style_32x32">
<a class="jiathis_button_tsina"></a>
<a class="jiathis_button_tqq"></a>
<a class="jiathis_button_douban"></a>
<a class="jiathis_button_googleplus"></a>
<a class="jiathis_button_evernote"></a>
<a class="jiathis_button_ujian"></a>
<a class="jiathis_button_fav"></a>
<a class="jiathis_button_copy"></a>
<a class="jiathis_button_ishare"></a>
<a href="http://www.jiathis.com/share?uid=1537991" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank"></a>
<a class="jiathis_counter_style"></a>
</div>
<script type="text/javascript" >
var jiathis_config={
	data_track_clickback:true,
	summary:"",
	ralateuid:{
		"tsina":"kafeituzi"
	},
	hideMore:false
}
</script>
<script type="text/javascript" src="http://v2.jiathis.com/code/jia.js?uid=1537991" charset="utf-8"></script>

<!-- JiaThis Button END -->

<!-- Wumii Related BEGIN -->
<div id="comments"  style="padding-bottom: 1em;"/>
<script type="text/javascript" id="wumiiRelatedItems"></script>
<script type="text/javascript">
    var wumiiPermaLink = location.href; //请用代码生成文章永久的链接
    var wumiiTitle = document.title; //请用代码生成文章标题
    var wumiiTags = ""; //请用代码生成文章标签，以英文逗号分隔，如："标签1,标签2"
    var wumiiSitePrefix = "http://www.kafeitu.me/";
    var wumiiParams = "&num=5&mode=3&pf=JAVASCRIPT";
</script>
<script type="text/javascript" src="http://widget.wumii.com/ext/relatedItemsWidget"></script>
<a href="http://www.wumii.com/widget/relatedItems" style="border:0;">
    <img src="http://static.wumii.com/images/pixel.png" alt="无觅相关文章插件，快速提升流量" style="border:0;padding:0;margin:0;" />
</a>
<!-- Wumii Related END -->